
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sorry, you cannot use this service yet
      </h1>

      <p>
        This service is currently in <a href="https://www.gov.uk/help/beta">beta</a>. It can only be used by people who were under 18 when they were cautioned or convicted.
      </p>

      <p>
        The service will be available to over-18s later this year.
      </p>

    </div>
</div>

{% endblock %}
