
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        [Results]
      </h1>

      <h2 class="govuk-heading-m">1. Prison sentence or hospital order</h2>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-!-margin-0 govuk-!-font-size-27">This conviction was spent on 6 June 2018</h1>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Criminal record type
          </dt>
          <dd class="govuk-summary-list__value">
            Conviction
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div> -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Prison sentence or hospital order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age at time of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Under 18
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            6 June 2018
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
      </dl>

      <!-- <h2 class="govuk-heading-m">2. Community order</h2> -->

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-!-margin-0 govuk-!-font-size-27">
          <span class="govuk-!-font-weight-regular">
            2. Community order
          </span>
          <br/><br/>
          This conviction will be spent on 6 June 2020
        </h1>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Criminal record type
          </dt>
          <dd class="govuk-summary-list__value">
            Conviction
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div> -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Prison sentence or hospital order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age at time of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Under 18
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            6 June 2018
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
      </dl>

      <h2 class="govuk-heading-m">3. Conditional caution</h2>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-!-margin-0 govuk-!-font-size-27">This caution will be spent on 6 December 2018</h1>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Criminal record type
          </dt>
          <dd class="govuk-summary-list__value">
            Conviction
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div> -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Prison sentence or hospital order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age at time of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Under 18
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            6 June 2018
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
      </dl>

      <h2 class="govuk-heading-m">4. Prison sentence or hospital order</h2>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-!-margin-0 govuk-!-font-size-27">This conviction will never be spent</h1>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Criminal record type
          </dt>
          <dd class="govuk-summary-list__value">
            Conviction
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div> -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Prison sentence or hospital order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age at time of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Under 18
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            6 June 2018
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
      </dl>


    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- <h2 class="govuk-heading-m">What this result means</h2>

      <p>
        Based on what you’ve told us, this conviction and any <a href="https://www.gov.uk/guidance/rehabilitation-periods">rehabilitation period</a> is now spent.
      </p>

      <div class="govuk-inset-text">
        If you entered any approximate dates, the result you’ve been given will be incorrect.
      </div>

        <h3 class="govuk-heading-s">If a basic criminal record check is requested</h3>

          <p>
            When a caution or conviction is spent you do not need to tell people about it, or the offence that led to it, if they’re requesting a <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#basic-dbs-checks">basic criminal record check</a>.
          </p>

        <h3 class="govuk-heading-s">If a standard or enhanced criminal record check is requested</h3>

          <p>
            You will need to tell people about spent cautions or convictions if they’re requesting a <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#standard-dbs">standard or enhanced criminal record check</a>.
          </p>

          <div class="govuk-inset-text">
            Some spent cautions and convictions are <a href="https://www.gov.uk/government/publications/dbs-filtering-guidance">’protected’ or ‘filtered’</a> and will not show up on a standard or enhanced criminal record check.
          </div>

        <h3 class="govuk-heading-s">If you have more than one caution or conviction</h3>

          <p>
            The result you've been given might be incorrect if you have other convictions.
          </p>

          <p>
            You should get professional or legal advice if you:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>got another conviction during a rehabilitation period</li>
            <li>are applying for certain sensitive jobs, such as a policeman or lawyer</li>
          </ul>

          <h2 class="govuk-heading-m">How this result has been worked out</h2>

          <p>
            The result you've been given is based on:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the information you’ve provided</li>
            <li>the current law on <a href="https://www.gov.uk/guidance/rehabilitation-periods" target="_blank">rehabilitation periods</a></li>
          </ul>

          <p>
            This table shows the information you've given, which has been used to work out when the conviction becomes spent. If you entered any incorrect information, the result you've been given will be incorrect.
          </p>

          <p>
            If you need to change any information, or if you have another caution or conviction you’d like to check, <a href="../../../v4">use the service again</a>.
          </p>

        <h2 class="govuk-heading-m">Using the information you've been given</h2>

          <p>
            As you’ve not been asked for specific details about your caution or conviction, this service can only give you general guidance about when it becomes spent.
          <p>

          <p>
            If you’ll be using the information this service has given you to decide whether or not to disclose a caution or conviction on your criminal record, it’s recommended that you first get specific professional or legal advice.
          </p> -->

    </div>

</div>

{% endblock %}
