{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="/prototype/start">Back</a>
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/Prototype-1/add-a-conviction-or-caution-answer" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Were you given any other sentences as part of this conviction?
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            For example, you may have been sentenced for multiple offences in the same court proceedings.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="Yes" {{ checked("changed-name", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="No" {{ checked("changed-name", "No") }}>
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <input type="submit" name="commit" value="Continue" class="govuk-button" formnovalidate="formnovalidate" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Continue">
    </form>
  </div>
</div>
{% endblock %}
