{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="/prototype-2/add-another-sentence">Back</a>
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/add-another-caution-or-conviction-answer" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have another caution on conviction you'd like to check?
            </h1>
          </legend>
          <div class="govuk-hint">
            You must enter details of all cautious or convictions if you have received more than one.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-caution" name="add-caution" type="radio" value="Yes" {{ checked("add-caution", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-caution-2" name="add-caution" type="radio" value="No" {{ checked("add-caution", "No") }}>
              <label class="govuk-label govuk-radios__label" for="add-caution-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>
      <input type="submit" name="commit" value="Continue" class="govuk-button" formnovalidate="formnovalidate" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Continue">
    </form>
  </div>
</div>
{% endblock %}
