{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="/conviction-type-answer" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What type of conviction did you get?
            </h1>
          </legend>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="community-or-youth-rehab-order" name="conviction-type" type="radio" value="Community or youth rehabilitation order">
              <label class="govuk-label govuk-radios__label" for="community-or-youth-rehab-order">
                Community, prevention or reparation order
              </label>
              <span class="govuk-hint govuk-radios__hint">
                For example, a sexual prevention order or a restraining order. You might have been asked to wear a tag as part of your order
              </span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="custodial-sentence" name="conviction-type" type="radio" value="Custodial sentence">
              <label class="govuk-label govuk-radios__label" for="custodial-sentence">
                Custody or hospital order
              </label>
              <span class="govuk-hint govuk-radios__hint">
                For example, a prison sentence, suspended sentence or hospital order given under the Mental Health Act
              </span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="discharge" name="conviction-type" type="radio" value="Discharge">
              <label class="govuk-label govuk-radios__label" for="discharge">
                Discharge
              </label>
              <span class="govuk-hint govuk-radios__hint">
                For example, a conditional discharge order or bind over
              </span>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="motoring" name="conviction-type" type="radio" value="Motoring endorsement">
              <label class="govuk-label govuk-radios__label" for="motoring">
                Motoring (including motoring fines)
              </label>
              <span class="govuk-hint govuk-radios__hint">
                For example you were given penalty points or a disqualification at court
              </span>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="military" name="conviction-type" type="radio" value="Military">
              <label class="govuk-label govuk-radios__label" for="military">
                Military
              </label>
              <span class="govuk-hint govuk-radios__hint">
                For example, a dismissal or service detention
              </span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="financial-penalty" name="conviction-type" type="radio" value="Financial penalty">
              <label class="govuk-label govuk-radios__label" for="financial-penalty">
                Financial penalty
              </label>
              <span class="govuk-hint govuk-radios__hint">
                For example, paying a fine or compensation
              </span>              
            </div>

            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-order" name="conviction-type" type="radio" value="Hospital order">
              <label class="govuk-label govuk-radios__label" for="hospital-order">
                Hospital order
                <span class="govuk-hint">
                  For example, mental health treatment
                </span>
              </label>
            </div> -->

            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-and-guardianship-orders" name="conviction-type" type="radio" value="Hospital and guardianship orders">
              <label class="govuk-label govuk-radios__label" for="hospital-and-guardianship-orders">
                Hospital or guardianship order
                <span class="govuk-hint">
                  For example, if there were mental health concerns
                </span>
              </label>
            </div> -->

            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rehabilitation-or-prevention" name="conviction-type" type="radio" value="Rehabilitation or prevention">
              <label class="govuk-label govuk-radios__label" for="rehabilitation-or-prevention">
                Rehabilitation or prevention
                <span class="govuk-hint">
                  For example, an attendance centre order or supervision order
                </span>
              </label>
            </div> -->

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
