{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
        <span class="govuk-phase-banner__text">
          This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
        </span>
      </p>
    </div>
    {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/fine-order"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">What you've told us so far</h1>
      
      <p class="govuk-body">You can enter additional cautions and convictions, and change your answers later if you need to.</p>
      
      <h2 class="govuk-heading-l">Conviction 1</h2>
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Suspended prison sentence</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "01 August 2009"
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "3 months"
            }
          },
          {            
            key: {
              text: "Electronic tag"
            },
            value: {
              html: "No"
            }
          },
          {            
            key: {
              text: "Age"
            },
            value: {
              html: "18 or over"
            }
          }
        ]
      }) }}
      
      <h2 class="govuk-heading-l">Conviction 2</h2>
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Prison sentence</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "10 June 2011"
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "6 months"
            }
          },
          {            
            key: {
              text: "Electronic tag"
            },
            value: {
              html: "No"
            }
          },
          {            
            key: {
              text: "Age"
            },
            value: {
              html: "18 or over"
            }
          }
        ]
      }) }}
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Restraining order</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "10 June 2011"
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "Until further order"
            }
          },
          {            
            key: {
              text: "Age"
            },
            value: {
              html: "18 or over"
            }
          }     
        ]
      }) }}
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">A fine</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "10 June 2011"
            }
          },
          {            
            key: {
              text: "Age"
            },
            value: {
              html: "18 or over"
            }
          }   
        ]
      }) }}

      <form action="/prototype-2/add-another-sentence" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
