{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
    {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/start-page"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="edit_steps_conviction_conviction_subtype_form" id="new_steps_conviction_conviction_subtype_form" action="/motoring-conviction-answer" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put">
      <input type="hidden" name="authenticity_token" value="nOJnHljyxqZbewPUU4mXCOpWbtBl0uk3MgOhpAtnzfALxZRbj7nYUfmtMN0HbX5vDXM4912X1W/UE8jTSYfubw==">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">What was your motoring conviction?</h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-disqualification-field" aria-describedby="steps-conviction-conviction-subtype-form-conviction-subtype-adult-disqualification-hint" class="govuk-radios__input" type="radio" value="adult_disqualification" name="motoring-conviction">
              <label for="steps-conviction-conviction-subtype-form-conviction-subtype-adult-disqualification-field" class="govuk-label govuk-radios__label">Disqualification</label>
              <span class="govuk-hint govuk-radios__hint" id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-disqualification-hint">You were banned from driving</span>
            </div>
            <div class="govuk-radios__item">
              <input id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-motoring-fine-field" aria-describedby="steps-conviction-conviction-subtype-form-conviction-subtype-adult-motoring-fine-hint" class="govuk-radios__input" type="radio" value="adult_motoring_fine" name="motoring-conviction">
              <label for="steps-conviction-conviction-subtype-form-conviction-subtype-adult-motoring-fine-field" class="govuk-label govuk-radios__label">Fine</label>
              <span class="govuk-hint govuk-radios__hint" id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-motoring-fine-hint">A court gave you a fine that was not a fixed penalty notice (FPN)</span>
            </div>
            <div class="govuk-radios__item">
              <input id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-penalty-points-field" aria-describedby="steps-conviction-conviction-subtype-form-conviction-subtype-adult-penalty-points-hint" class="govuk-radios__input" type="radio" value="adult_penalty_points" name="motoring-conviction">
              <label for="steps-conviction-conviction-subtype-form-conviction-subtype-adult-penalty-points-field" class="govuk-label govuk-radios__label">Penalty points</label>
              <span class="govuk-hint govuk-radios__hint" id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-penalty-points-hint">You were given a number of penalty points for a driving offence</span>
            </div>
          </div>
        </fieldset>
      </div>

      <input type="submit" name="commit" value="Continue" class="govuk-button" formnovalidate="formnovalidate" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Continue">
    </form>
  </div>
</div>
{% endblock %}
