{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
    {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/start-page"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <form class="edit_steps_conviction_conviction_subtype_form" id="new_steps_conviction_conviction_subtype_form" action="/prototype-2/custody-order-answer" accept-charset="UTF-8" method="post">
       <input name="utf8" type="hidden" value="✓">
       <input type="hidden" name="_method" value="put">
       <input type="hidden" name="authenticity_token" value="RtmFCsOVMlbbtNDBu0XkfagcnV30ceNzjBQXbWqLS1Pc11/A97EKPHjuarwHH+fDdVlDkl2fMDhQAxWK36TqNA==">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">What sentence were you given?</h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-hospital-order-field" aria-describedby="steps-conviction-conviction-subtype-form-conviction-subtype-adult-hospital-order-hint" class="govuk-radios__input" type="radio" value="Hospital order" name="custody-order">
              <label for="steps-conviction-conviction-subtype-form-conviction-subtype-adult-hospital-order-field" class="govuk-label govuk-radios__label">Hospital order</label>
              <span class="govuk-hint govuk-radios__hint" id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-hospital-order-hint">You were given a hospital order instead of a prison sentence because of mental health concerns</span>
            </div>
            <div class="govuk-radios__item">
              <input id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-prison-sentence-field" aria-describedby="steps-conviction-conviction-subtype-form-conviction-subtype-adult-prison-sentence-hint" class="govuk-radios__input" type="radio" value="Prison sentence" name="custody-order">
              <label for="steps-conviction-conviction-subtype-form-conviction-subtype-adult-prison-sentence-field" class="govuk-label govuk-radios__label">Prison sentence</label>
              <span class="govuk-hint govuk-radios__hint" id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-prison-sentence-hint">You were sent to prison (also known as being taken into custody)</span>
            </div>
            <div class="govuk-radios__item">
              <input id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-suspended-prison-sentence-field" aria-describedby="steps-conviction-conviction-subtype-form-conviction-subtype-adult-suspended-prison-sentence-hint" class="govuk-radios__input" type="radio" value="Suspended prison sentence" name="custody-order">
              <label for="steps-conviction-conviction-subtype-form-conviction-subtype-adult-suspended-prison-sentence-field" class="govuk-label govuk-radios__label">Suspended prison sentence</label>
              <span class="govuk-hint govuk-radios__hint" id="steps-conviction-conviction-subtype-form-conviction-subtype-adult-suspended-prison-sentence-hint">You were given a prison sentence that was suspended unless you breached the terms</span>
            </div>
          </div>
        </fieldset>
       </div>
      <input type="submit" name="commit" value="Continue" class="govuk-button" formnovalidate="formnovalidate" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Continue">
    </form>
  </div>
</div>

{% endblock %}
