{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
        <span class="govuk-phase-banner__text">
          This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
        </span>
      </p>
    </div>
    {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/ban-length"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers</h1>
      
        <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Conviction 1</h2>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Suspended prison sentence</h3>
      
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-8',
          rows: [
            {
              key: {
                text: "Date of conviction"
              },
              value: {
                text: "01 August 2009"
              },
              actions: {
                items: [
                  {
                    href: "prototype-2/custody-order/suspended-prison-sentence/suspended-prison-date",
                    text: "Change",
                    visuallyHiddenText: " date of conviction"
                  }
                ]
              }
            },
            {
              key: {
                text: "Length of sentence"
              },
              value: {
                html: "3 months"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "length of sentence"
                  }
                ]
              }
            },
            {            
              key: {
                text: "Electronic tag"
              },
              value: {
                html: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: " electronic tag"
                  }
                ]
              }
            }
          ]
        }) }}

      <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Conviction 2</h2>
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Prison sentence</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "10 June 2011"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "6 months"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "length of sentence"
                }
              ]
            }
          },
          {            
            key: {
              text: "Electronic tag"
            },
            value: {
              html: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " electronic tag"
                }
              ]
            }
          }
        ]
      }) }}
 
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Restraining order</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "10 June 2011"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "Until further notice"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "length of sentence"
                }
              ]
            }
          }
        ]
      }) }}
 
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Fine</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "10 June 2011"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          }
        ]
      }) }}
      
      <!-- hidden for prototype info for demo with Unlock
      
      {% if data['custody-order'] == "Hospital order" %}
      
        <h2 class="govuk-heading-l">Conviction</h2>

        <h3 class="govuk-heading-m">Hospital order</h3>

          {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-8',
          rows: [
            {
              key: {
                text: "Date of conviction"
              },
              value: {
                text: "add date fields"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: " date of conviction"
                  }
                ]
              }
            },
            {
              key: {
                text: "Spent date"
              },
              value: {
                text: "add spend date"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "spent date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Length of sentence"
              },
              value: {
                html: "add dates"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "length of sentence"
                  }
                ]
              }
            }
          ]
        }) }}
      
      {% endif %}
      
      {% if data['custody-order'] == "Prison sentence" %}
      
        <h2 class="govuk-heading-l">Conviction</h2>

        <h3 class="govuk-heading-m">Prison sentence</h3>

          {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-8',
          rows: [
            {
              key: {
                text: "Date of conviction"
              },
              value: {
                text: "add date fields"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: " date of conviction"
                  }
                ]
              }
            },
            {
              key: {
                text: "Spent date"
              },
              value: {
                text: "add spend date"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "spent date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Length of sentence"
              },
              value: {
                html: "add dates"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "length of sentence"
                  }
                ]
              }
            },
            {
              key: {
                text: "Electronic tag"
              },
              value: {
                text: "{{ data['prison-sentence-tag'] }}"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "spent date"
                  }
                ]
              }
            }
          ]
        }) }}
      
      {% endif %}

      <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Conviction 1</h2>
      
      <h3 class="govuk-heading-m">Prison sentence</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "6 June 2010 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Spent date"
            },
            value: {
              text: "6 June 2020 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "spent date"
                }
              ]
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "12 months"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "length of sentence"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Conviction 2</h2>
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Prison sentence</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "6 June 2010 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Spent date"
            },
            value: {
              text: "6 June 2024 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "spent date"
                }
              ]
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "12 months"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "length of sentence"
                }
              ]
            }
          }
        ]
      }) }}
      
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Fine</h3>
      
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-8',
        rows: [
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "2 January 2021 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Spent date"
            },
            value: {
              text: "2 January 2022 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "spent date"
                }
              ]
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "12 months"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "length of sentence"
                }
              ]
            }
          }
        ]
      }) }}

      -->
      
      <h2 class="govuk-heading-l">Continue to your results</h2>

      <form action="/prototype-2/results-page" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
