// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/identity-bar";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.cya-item {
  border: 2px solid govuk-colour("grey-2");
  padding: 10px;
}
.conviction-length-input {
  margin-top: 10px;
}

.govuk-panel-bullet-container {
  display: flex;
  justify-content: center;
}
.govuk-panel-body-with-bullet {
  text-align: left;
}

.for-dev-tag {
  margin-left: 10px;
  background-color:  govuk-colour("green");
}

.wip-tag {
  margin-left: 10px;
  background-color:  govuk-colour("orange");
}

.version-container {
  display: flex;
  align-items: center;
}

// Conviction summary table

.no-bottom-margin {
  margin-bottom: 0;
}

.conviction-group {
  border: 2px solid $govuk-border-colour;
  padding: 20px;
  margin-bottom: 30px;
}

// Custom caption

.custom-caption {
  font-weight: bold;
  color: govuk-colour("black");
  margin-bottom: 10px;
}

// Multiples "breadcrumb"
.multiple-breadcrumb {
  border: 5px solid govuk-colour("grey-1");
}

.breadcrumb-i {
  display: block;
  font-weight: normal;
  color: govuk-colour("grey-1");
}

// .indicator:before {
//   content: "";
//   width: 0;
//   height: 0;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;
//   border-left: 10px solid govuk-colour("grey-1");
// }

.indicator {
  color: black;
}

// #weeksInput {
//   display: none;
// }

// govuk tags

.govuk-tag {
  display: inline-block;
}
.govuk-tag--green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}
.govuk-tag--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

// results box

.moj-results-box {
  border:1px solid $govuk-border-colour;
  padding:15px 15px 0;
}
