// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/identity-bar";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.cya-item {
  border: 2px solid govuk-colour("grey-2");
  padding: 10px;
}
.conviction-length-input {
  margin-top: 10px;
}

.govuk-panel-bullet-container {
  display: flex;
  justify-content: center;
}
.govuk-panel-body-with-bullet {
  text-align: left;
}

.for-dev-tag {
  margin-left: 10px;
  background-color:  govuk-colour("green");
}

.wip-tag {
  margin-left: 10px;
  background-color:  govuk-colour("orange");
}

.version-container {
  display: flex;
  align-items: center;
}

// Conviction summary table

.no-bottom-margin {
  margin-bottom: 0;
}

.conviction-group {
  border: 2px solid $govuk-border-colour;
  padding: 20px;
  margin-bottom: 30px;
}

// Custom caption

.custom-caption {
  font-weight: bold;
  color: govuk-colour("black");
  margin-bottom: 10px;
}

// Multiples "breadcrumb"
.multiple-breadcrumb {
  border: 5px solid govuk-colour("grey-1");
}

.breadcrumb-i {
  display: block;
  font-weight: normal;
  color: govuk-colour("grey-1");
}

// .indicator:before {
//   content: "";
//   width: 0;
//   height: 0;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;
//   border-left: 10px solid govuk-colour("grey-1");
// }

.indicator {
  color: black;
}

// #weeksInput {
//   display: none;
// }

// govuk tags

.govuk-tag {
  display: inline-block;
}
.govuk-tag--green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}
.govuk-tag--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

// delete link

.moj-link--red {
  color: govuk-colour("red") !important; //override default blue colour
  
  &:hover {
    color:#942514 !important;
  }
  
  &:focus {
    color: govuk-colour("black") !important;
  }
}

//Link on the right
.moj-link--right {
  float:right;
  margin:5px 0;
}
.moj-heading--left {
  display:inline-block;
}
// results box

.moj-results-box {
  border:1px solid $govuk-border-colour;
  padding:15px 15px 0;
}

//GOV UK buttons
// Button group
.govuk-button-group {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width: 40.0625em) {
    .govuk-button-group {
        margin-bottom:15px
    }
}

.govuk-button-group .govuk-link {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center
}
@media (min-width: 40.0625em) {
    .govuk-button-group .govuk-link {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1
    }
}
.govuk-button-group .govuk-button {
    margin-bottom: 17px
}

@media (min-width: 40.0625em) {
    .govuk-button-group {
        margin-right:-15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }

    .govuk-button-group .govuk-button,.govuk-button-group .govuk-link {
        margin-right: 15px
    }

    .govuk-button-group .govuk-link {
        text-align: left
    }
}

.govuk-form-group {
    margin-bottom: 20px
}

.govuk-form-group:after {
    content: "";
    display: block;
    clear: both
}

@media (min-width: 40.0625em) {
    .govuk-form-group {
        margin-bottom:30px
    }
}

.govuk-form-group .govuk-form-group:last-of-type {
    margin-bottom: 0
}

.govuk-form-group--error {
    padding-left: 15px;
    border-left: 5px solid #d4351c
}

.govuk-form-group--error .govuk-form-group {
    padding: 0;
    border: 0
}

// MOJ button group

.moj-button-group--right {
  flex-direction: row-reverse;
}
// MOJ panel
.moj-panel {
    @include govuk-font($size: 19);

    box-sizing: border-box;

    margin-bottom: govuk-spacing(3);
    padding: govuk-spacing(7) - $govuk-border-width;

    border: $govuk-border-width solid transparent;

    text-align: center;

    @include govuk-media-query($until: tablet) {
      padding: govuk-spacing(6) - $govuk-border-width;
    }
  
  .moj-panel__title {
    margin-top: 0;
    margin-bottom: govuk-spacing(6);

    @include govuk-font($size: 48, $weight: bold);
  }

  .moj-panel__title:last-child {
    margin-bottom: 0;
  }

  .moj-panel__body {
    @include govuk-font($size: 24);
  }
}
.moj-panel--green {
  border:5px solid govuk-colour("green");
}
.moj-panel--red {
  border: 5px solid govuk-colour("red");
}
