
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="../multiple/add-another" method="post" class="form">

            <h1 class="govuk-heading-xl">
              Check your answers
            </h1>

          <!-- <span id="changed-name-hint" class="govuk-hint">
            [Placeholder. Description of what this page is?]
          </span> -->

        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Conviction 1</h2>

        <div class="govuk-inset-text govuk-!-margin-top-2">

          <dl class="govuk-summary-list govuk-!-margin-bottom-5">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of sentence
              </dt>
              <dd class="govuk-summary-list__value">
                Prison sentence or hospital order
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age at time of conviction
              </dt>
              <dd class="govuk-summary-list__value">
                Under 18
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                6 June 2018
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Length of sentence
              </dt>
              <dd class="govuk-summary-list__value">
                12 months
              </dd>
            </div>
          </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-5 govuk-!-margin-top-8">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              Compensation order
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Age at time of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              Under 18
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              6 June 2018
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
        </dl>

        <p class="govuk-!-margin-bottom-4">
          <a href="#">Add another sentence to this conviction</a>
        </p>

      </div>

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Conviction 2</h2>

      <div class="govuk-inset-text govuk-!-margin-top-2">
        <dl class="govuk-summary-list govuk-!-margin-bottom-5">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              Prison sentence or hospital order
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Age at time of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              Under 18
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              6 June 2018
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
        </dl>

      <p class="govuk-!-margin-bottom-4">
        <a href="placeholder-to-2-combined">Add another sentence to this conviction</a>
      </p>

      </div>

        <p>
          <a href="">Add a caution or conviction in separate proceedings</a>
        </p>

        <button class="govuk-button">Continue to result</button>


      </form>

    </div>
</div>

{% endblock %}
