
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="../multiple/add-another" method="post" class="form">

            <h1 class="govuk-heading-xl">
              [Placeholder title]
            </h1>

          <span id="changed-name-hint" class="govuk-hint">
            [Placeholder. Description of what this page is?]
          </span>

        <h2 class="govuk-heading-l">Conviction 1</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-5">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              Prison sentence or hospital order
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd> -->
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Age at time of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              Under 18
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              6 June 2018
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
        </dl>

        <p class="govuk-!-margin-bottom-9">
          <a href="placeholder-to-2-combined-1-single">Add another conviction in the same proceedings</a>
        </p>

      <h2 class="govuk-heading-l">Conviction 2</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of sentence
          </dt>
          <dd class="govuk-summary-list__value">
            Prison sentence or hospital order
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age at time of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            Under 18
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            6 June 2018
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Length of conviction
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
        </div>
      </dl>

      <p class="govuk-!-margin-bottom-9">
        <a href="">Add another conviction in the same proceedings</a>
      </p>

        <p>
          <a href="">Add another conviction in separate proceedings</a>
        </p>

        <button class="govuk-button">Continue to result</button>


      </form>

    </div>
</div>

{% endblock %}
