
{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Conviction 1</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Type of conviction"
            },
            value: {
              text: "Prison sentence"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "type of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of conviction"
            },
            value: {
              text: "6 June 2010 (approximate date)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " date of conviction"
                }
              ]
            }
          },
          {
            key: {
              text: "Spent date"
            },
            value: {
              html: "21 June 2020"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "Length of sentence"
            },
            value: {
              html: "12 months"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: " length of sentence"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Conviction 2</h2>
      
        <dl class="govuk-summary-list govuk-!-margin-bottom-7">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              Prison sentence
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of conviction</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              6 June 2010 (approximate date)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of conviction</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Spent date
            </dt>
            <dd class="govuk-summary-list__value">
              6 June 2014 (approximate date)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> spent date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> length of sentence</span>
              </a>
            </dd>
          </div>
        </dl>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              Fine
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of conviction</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of conviction
            </dt>
            <dd class="govuk-summary-list__value">
              2 January 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of conviction</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Spent date
            </dt>
            <dd class="govuk-summary-list__value">
              2 January 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> spent date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of sentence
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> length of sentence</span>
              </a>
            </dd>
          </div>
        </dl>
      
      <h2 class="govuk-heading-m">Get your results</h2>

      <form action="/prototype-1/results-page" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Continue to your results"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
