{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block BeforeContent %}


<div class="gem-c-contextual-breadcrumbs">
  <div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/working" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Working, jobs and pensions&quot;}" class="govuk-breadcrumbs__link" href="/browse/working">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
            <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/working/finding-job" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Finding a job&quot;}" class="govuk-breadcrumbs__link" href="/browse/working/finding-job">Finding a job</a>
      </li>
      </ol>
  </div>
</div>


{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
<style>
  /* content nav */
  @media (min-width: 40.0625em) {
    .gem-c-contents-list__title {
        font-size: 16px;
        line-height: 1.5;
    }
  }
  .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;
  }
  .gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
  }
  .gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }
  .part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b1b4b6;
  }
  @media (min-width: 40.0625em) {
    .guide .part-title {
        font-size: 27px;
        line-height: 1.1111111111;
        margin:20px 0;
    }
  }
  /*pagination*/
  .gem-c-pagination {
    display: block;
    margin: 50px 0;
  }
  .gem-c-pagination__list {
    margin: 0;
    padding: 0;
  }
  .gem-c-pagination__item {
    font-family: "nta",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    list-style: none;
  }
  .gem-c-pagination__link {
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
  }
  .gem-c-pagination__link-title {
    display: block;
    border-top: 1px solid #b1b4b6;
    padding-top: 15px;
  }
  gem-c-pagination__link-divider {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }
  .gem-c-pagination__link-label {
    display: inline-block;
    margin-top: .1em;
    text-decoration: underline;
    margin-left: 25px;
  }
  /* Side nav*/
  .gem-c-related-navigation {
    color: #0b0c0c;
    border-top: 2px solid #1d70b8;
  }
  .gem-c-related-navigation__main-heading {
    font-family: "nta",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  @media (min-width: 40.0625em) {
    .gem-c-related-navigation__main-heading {
        font-size: 19px;
        line-height: 1.3157894737;
    }
  }
  .gem-c-related-navigation__link-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.25em;
  }
  .gem-c-related-navigation__link {
    list-style-type: none;
    margin-top: 15px;
    font-family: "nta",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.45;
  }
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      <h1 class="gem-c-title__text govuk-heading-xl">
        Telling an employer, university or college about your criminal record
      </h1>
    </div>

    <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>

    <aside class="part-navigation-container" role="complementary">
      <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title govuk-heading-s">
          Contents
        </h2>
        <ol class="gem-c-contents-list__list govuk-list--number">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="/tell-employer-or-college-about-criminal-record" data-track-options="{&quot;dimension29&quot;:&quot;When you need to tell an employer, university or college&quot;}" href="/tell-employer-or-college-about-criminal-record">When you need to tell an employer, university or college</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" data-track-options="{&quot;dimension29&quot;:&quot;What information you need to give&quot;}" href="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">What information you need to give</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Check if you need to tell someone about your conviction or caution
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed" aria-current="true">
              Cautions
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/tell-employer-or-college-about-criminal-record/fines-and-compensation" data-track-options="{&quot;dimension29&quot;:&quot;Fines and compensation&quot;}" href="/tell-employer-or-college-about-criminal-record/fines-and-compensation">Fines and compensation</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/tell-employer-or-college-about-criminal-record/driving-convictions" data-track-options="{&quot;dimension29&quot;:&quot;Driving convictions&quot;}" href="/tell-employer-or-college-about-criminal-record/driving-convictions">Driving convictions</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/tell-employer-or-college-about-criminal-record/prison-sentences" data-track-options="{&quot;dimension29&quot;:&quot;Prison sentences&quot;}" href="/tell-employer-or-college-about-criminal-record/prison-sentences">Prison sentences</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/tell-employer-or-college-about-criminal-record/community-service" data-track-options="{&quot;dimension29&quot;:&quot;Community service&quot;}" href="/tell-employer-or-college-about-criminal-record/community-service">Community service</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/tell-employer-or-college-about-criminal-record/discharges" data-track-options="{&quot;dimension29&quot;:&quot;Discharges&quot;}" href="/tell-employer-or-college-about-criminal-record/discharges">Discharges</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/tell-employer-or-college-about-criminal-record/military-convictions" data-track-options="{&quot;dimension29&quot;:&quot;Military convictions&quot;}" href="/tell-employer-or-college-about-criminal-record/military-convictions">Military convictions</a>

            </li>
        </ol>
      </nav>
    </aside>
  </div>

  <div class="govuk-grid-column-two-thirds" id="guide-contents">
    <h1 class="part-title govuk-heading-m">
      Cautions
    </h1>
    <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
    <h2 class="govuk-heading-m">
      Check if you need to tell someone about your conviction or caution
    </h2>
      
    <p class="govuk-body">Use this tool to check whether:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        a conviction or caution you got in England or Wales is ‘spent’ (not on your basic criminal record)
      </li>
      <li>
        you need to tell a potential employer, university or college about it
      </li>
    </ul>
    <h3 class="govuk-heading-m">
      Before you check
    </h3>
      <p class="govuk-body">You'll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        the type of conviction or caution you got
      </li>
      <li>
        the date you got it
      </li>
      <li>
        the date any conditions ended, or how long your sentence was
      </li>
    </ul>
    <h3 class="govuk-heading-m">
      Check your conviction or caution
    </h3>
      <a href="Prototype-1/add-another-sentence" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>
      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="track-click">
            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" data-track-dimension="previous" data-track-dimension-index="29">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">What information you need to give</span>
              </a>
            </li>
                     <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" data-track-dimension="previous" data-track-dimension-index="29">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Check if you need to tell someone about your conviction or caution</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="/tell-employer-or-college-about-criminal-record/fines-and-compensation" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/tell-employer-or-college-about-criminal-record/fines-and-compensation" data-track-dimension="next" data-track-dimension-index="29">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Fines and compensation</span>
              </a>
            </li>
        </ul>
      </nav>
    
    <div class="gem-c-print-link gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
        <a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/tell-employer-or-college-about-criminal-record/print">Print entire guide</a>
    </div>
  </div>
</div>
  
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
      <div class="gem-c-related-navigation">
          <h2 id="related-nav-related_items-4b3a7388" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-4b3a7388" data-module="gem-toggle">
            <ul class="gem-c-related-navigation__link-list" data-module="track-click">
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/employers-checks-job-applicants" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Checks employers can make on job applicants&quot;}" href="/employers-checks-job-applicants">Checks employers can make on job applicants</a></li>
              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/government/publications/unlock-opportunity-employer-information-pack-and-case-studies/employing-prisoners-and-ex-offenders" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Employing prisoners and ex-offenders&quot;}" href="/government/publications/unlock-opportunity-employer-information-pack-and-case-studies/employing-prisoners-and-ex-offenders">Employing prisoners and ex-offenders</a></li>
            </ul>
          </nav>
        </div>
    </div>
  </div>

</div>

</div>

</div>
{% endblock %}
