{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block BeforeContent %}
<div class="gem-c-contextual-breadcrumbs">
  <div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/working" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Working, jobs and pensions&quot;}" class="govuk-breadcrumbs__link" href="/browse/working">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
            <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/working/finding-job" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Finding a job&quot;}" class="govuk-breadcrumbs__link" href="/browse/working/finding-job">Finding a job</a>
      </li>
      </ol>
  </div>
</div>


{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      <h1 class="gem-c-title__text ">
        Telling an employer, university or college about your criminal record
      </h1>
    </div>

    <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>

    <aside class="part-navigation-container" role="complementary">
      <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
        <h2 class="gem-c-contents-list__title">
          Contents
        </h2>
        <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="/tell-employer-or-college-about-criminal-record" data-track-options="{&quot;dimension29&quot;:&quot;When you need to tell an employer, university or college&quot;}" href="/tell-employer-or-college-about-criminal-record">When you need to tell an employer, university or college</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" data-track-options="{&quot;dimension29&quot;:&quot;What information you need to give&quot;}" href="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">What information you need to give</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              Cautions

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/tell-employer-or-college-about-criminal-record/fines-and-compensation" data-track-options="{&quot;dimension29&quot;:&quot;Fines and compensation&quot;}" href="/tell-employer-or-college-about-criminal-record/fines-and-compensation">Fines and compensation</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/tell-employer-or-college-about-criminal-record/driving-convictions" data-track-options="{&quot;dimension29&quot;:&quot;Driving convictions&quot;}" href="/tell-employer-or-college-about-criminal-record/driving-convictions">Driving convictions</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/tell-employer-or-college-about-criminal-record/prison-sentences" data-track-options="{&quot;dimension29&quot;:&quot;Prison sentences&quot;}" href="/tell-employer-or-college-about-criminal-record/prison-sentences">Prison sentences</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/tell-employer-or-college-about-criminal-record/community-service" data-track-options="{&quot;dimension29&quot;:&quot;Community service&quot;}" href="/tell-employer-or-college-about-criminal-record/community-service">Community service</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/tell-employer-or-college-about-criminal-record/discharges" data-track-options="{&quot;dimension29&quot;:&quot;Discharges&quot;}" href="/tell-employer-or-college-about-criminal-record/discharges">Discharges</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/tell-employer-or-college-about-criminal-record/military-convictions" data-track-options="{&quot;dimension29&quot;:&quot;Military convictions&quot;}" href="/tell-employer-or-college-about-criminal-record/military-convictions">Military convictions</a>

            </li>
        </ol>
      </nav>
    </aside>
  </div>

  <div class="govuk-grid-column-two-thirds" id="guide-contents">
    <h1 class="part-title">
      Cautions
    </h1>
    <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">

      <p>A caution is an <a href="/caution-warning-penalty">official warning from the police</a>.</p>

      <p>It could be a:</p>

      <ul>
        <li>simple caution if you’re 18 or over</li>
        <li>youth caution if you’re under 18</li>
        <li>conditional caution</li>
      </ul>

      <p>Whether a caution is <a href="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give">‘spent’ affects what information you need to give</a> a potential employer, university or college.</p>

      <h2 id="when-simple-and-youth-cautions-become-spent">When simple and youth cautions become spent</h2>

      <p>They become spent straight away.</p>

      <h2 id="when-a-conditional-caution-becomes-spent">When a conditional caution becomes spent</h2>

      <p>It becomes spent either:</p>

      <ul>
        <li>on the date the conditions end</li>
        <li>3 months after you got it, if the conditions have no end date</li>
      </ul>
    </div>

    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
      <ul class="gem-c-pagination__list" data-module="track-click">
          <li class="gem-c-pagination__item gem-c-pagination__item--previous">
            <a href="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/tell-employer-or-college-about-criminal-record/what-information-you-need-to-give" data-track-dimension="previous" data-track-dimension-index="29">
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">What information you need to give</span>
            </a>
          </li>
          <li class="gem-c-pagination__item gem-c-pagination__item--next">
            <a href="/tell-employer-or-college-about-criminal-record/fines-and-compensation" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/tell-employer-or-college-about-criminal-record/fines-and-compensation" data-track-dimension="next" data-track-dimension-index="29">
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Next
                </span>
              </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Fines and compensation</span>
            </a>
          </li>
      </ul>
    </nav>
    
    <div class="gem-c-print-link gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
        <a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/tell-employer-or-college-about-criminal-record/print">Print entire guide</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
  
  <div class="gem-c-contextual-sidebar">


    <div class="gem-c-related-navigation">

        <h2 id="related-nav-related_items-4b3a7388" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>




        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-4b3a7388" data-module="gem-toggle">


    <ul class="gem-c-related-navigation__link-list" data-module="track-click">


          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/employers-checks-job-applicants" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Checks employers can make on job applicants&quot;}" href="/employers-checks-job-applicants">Checks employers can make on job applicants</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/government/publications/unlock-opportunity-employer-information-pack-and-case-studies/employing-prisoners-and-ex-offenders" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Employing prisoners and ex-offenders&quot;}" href="/government/publications/unlock-opportunity-employer-information-pack-and-case-studies/employing-prisoners-and-ex-offenders">Employing prisoners and ex-offenders</a></li>

    </ul>
  </nav>

    </div>





  <a class="govuk-link gem-c-contextual-sidebar__brexit-cta" data-module="track-click" data-track-category="relatedLinkClicked" data-track-action="1.0 Transition" data-track-label="/transition" data-track-dimension="Check what you need to do" data-track-dimension-index="29" aria-label="Brexit campaign slogan, Check, Change, Go. Check what you need to do" lang="en" href="/transition">
    <h2 class="gem-c-contextual-sidebar__brexit-heading">Brexit</h2>
    <ul class="govuk-list gem-c-contextual-sidebar__take-action-traffic-lights">
      <li>
        <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="/assets/government-frontend/govuk_publishing_components/take-action-red-5117cea61725753ad21e17234e1d12f5605c1ab8df1eab37bd7d557d200a5006.svg">
        <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
          Check
        </span>
      </li>
      <li>
        <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="/assets/government-frontend/govuk_publishing_components/take-action-amber-ed37d78dd940d181c13d2689c7ca16a10891d89e5d278eef21e0e0001fb5a477.svg">
        <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
          Change
        </span>
      </li>
      <li>
        <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="/assets/government-frontend/govuk_publishing_components/take-action-green-201c5dfb37cd72eb3603b1afe36c913fecfda46ecb6221f1ed8c59708bc103e0.svg">
        <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
          Go
        </span>
      </li>
    </ul>
    <p class="gem-c-contextual-sidebar__brexit-text">Check what you need to do</p>
  </a>
  </div>

</div>

</div>

</div>

</div>
{% endblock %}
