{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        When to disclose cautions or convictions
      </h1>

      <p>
        Use this service to check when cautions or convictions become spent in England and Wales.
      </p>

      <div class="govuk-inset-text">
        A spent caution or conviction is something you do not need to tell people about if they’re doing a <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#background-checks">basic criminal record check</a>.
      </div>

      <p>
        You’ll be given information on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when each of your cautions or convictions become spent </li>
        <li>when to tell people, such as employers, about your criminal record</li>
      </ul>

      <h2 class="govuk-heading-m">
        How this service works
      </h2>

      <p>
        You’ll be given accurate results if you know:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the types of cautions or convictions you were given</li>
        <li>the dates you were given them</li>
        <li>how long any sentences lasted</li>
      </ul>

      <p>
        If you do not have all this information, you can either:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>enter approximate dates into service (meaning your results will also be approximate)</li>
        <li>read general guidance on <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#expire">when cautions and convictions become spent</a></li>
      </ul>

      <a href="/Prototype-1/add-another-sentence" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

    </div>
  </div>
{% endblock %}
