
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, we cannot tell you the exact date your conviction becomes spent
      </h1>
      <p>
        This service is currently in <a href="https://www.gov.uk/help/beta">beta</a>. At the moment it can only tell you when motoring convictions with endorsements become spent.
      </p>

      <p>
        The following guidance will help you work out if your conviction is spent.
      </p>

      <h2 class="govuk-heading-m">
        If you were given penalty points without an endorsement
      </h2>

      <p>
        Penalty points are spent 3 years after the date the penalty points were given.
      </p>

      <h2 class="govuk-heading-m">
        If you were disqualified without an endorsement
      </h2>

      <p>
        Disqualifications are spent on the day the disqualification ends.
      </p>

      <p>
        If you were not given an end date for the disqualification, it will become spent 2 years after the date you were disqualified.
      </p>

    </div>
</div>

{% endblock %}
