{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
    {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/custody-order"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="edit_steps_conviction_conviction_date_form" id="new_steps_conviction_conviction_date_form" action="/prototype-2/custody-order/hospital-order/hospital-order-ban" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="8e6UIqGN1xc7NZkfu6U1C/LfRK2RJf5jrXroKxuy6jBmyWdndsbJ4JnjqhbvQdxsFfoSiqlgwjtLaoFcWVLJrw==">
      <div class="govuk-form-group app-util--compact-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="steps-conviction-conviction-date-form-conviction-date-hint steps-conviction-conviction-date-form-conviction-date-supplemental">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">Hospital order</span>
              When were you given the order?
            </h1>
          </legend>
          <div id="steps-conviction-conviction-date-form-conviction-date-supplemental">
            <p class="govuk-body-m">This is usually the day you were sentenced in court..</p>
          </div>
          <span class="govuk-hint" id="steps-conviction-conviction-date-form-conviction-date-hint">If you do not know the exact date, you can enter an approximate one. However, if you use an approximate date, your results will be approximate.<p>For example, 23 9 2018</p>
          </span>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="steps_conviction_conviction_date_form_conviction_date_3i">Day</label>
                <input id="steps_conviction_conviction_date_form_conviction_date_3i" class="govuk-input govuk-date-input__input govuk-input--width-2" name="conviction-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['conviction-date-day'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="steps_conviction_conviction_date_form_conviction_date_2i">Month</label>
                <input id="steps_conviction_conviction_date_form_conviction_date_2i" class="govuk-input govuk-date-input__input govuk-input--width-2" name="conviction-date-month" type="text" pattern="[0-9]*" inputmode="numeric" vvalue="{{ data['conviction-date-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="steps_conviction_conviction_date_form_conviction_date_1i">Year</label>
                <input id="steps_conviction_conviction_date_form_conviction_date_1i" class="govuk-input govuk-date-input__input govuk-input--width-4" name="conviction-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['conviction-date-year'] }}">
              </div>
            </div>
          </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">Approximate date</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input id="steps-conviction-conviction-date-form-approximate-conviction-date-true-field" class="govuk-checkboxes__input" type="checkbox" value="true" name="steps_conviction_conviction_date_form[approximate_conviction_date]">
            <label for="steps-conviction-conviction-date-form-approximate-conviction-date-true-field" class="govuk-label govuk-checkboxes__label">This is not the exact date</label>
          </div>
        </div>
     </fieldset>
   </div>

      <input type="submit" name="commit" value="Continue" class="govuk-button" formnovalidate="formnovalidate" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Continue">
    </form>
  </div>
</div>
{% endblock %}
