
{% extends "layout.html" %}

{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
    {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/start-page"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="edit_steps_conviction_conviction_subtype_form" id="new_steps_conviction_conviction_subtype_form" action="/steps/conviction/conviction_subtype" accept-charset="UTF-8" method="post">
      <fieldset class="govuk-fieldset" aria-describedby="steps-conviction-known-date-form-known-date-hint steps-conviction-known-date-form-known-date-supplemental">
        <span class="govuk-caption-xl">Hospital order</span>
        <div id="steps-conviction-known-date-form-known-date-supplemental">
          <p class="govuk-body-m">This is usually the day you were sentenced in court.</p>
        </div>
        <span class="govuk-hint" id="steps-conviction-known-date-form-known-date-hint">If you do not know the exact date, you can enter an approximate one. However, if you use an approximate date, your results will be approximate.
          <p>For example, 23 9 2018</p>
        </span>

        {{ govukDateInput({
          id: "hospital-order-date",
          namePrefix: "hospital-order-date",
          fieldset: {
            legend: {
              text: "When were you given the hospital order?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          }
        }) }}
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">Approximate date</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="steps-conviction-known-date-form-approximate-known-date-true-field" class="govuk-checkboxes__input" type="checkbox" value="true" name="steps_conviction_known_date_form[approximate_known_date]">
                <label for="steps-conviction-known-date-form-approximate-known-date-true-field" class="govuk-label govuk-checkboxes__label">This is not the exact date</label>
              </div>
            </div>
          </fieldset>
        </div>

    </form>
  </div>
</div>

{% endblock %}
  
 
