
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your caution was spent on <br/>
          <span id="spent-placeholder">
            {% if data['formatted-spent-date'] %}
              {{ data['formatted-spent-date'] }}
            {% else %}
              6 June 2018
            {% endif %}
          </span>
        </h1>

        <div class="govuk-panel__body">
          You do not need to tell anyone about this caution unless you’re applying for a job where a <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#standard-dbs">standard</a> or <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#enhanced-dbs">enhanced</a> criminal record check is needed.
        </div>

      </div>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <br/>

      <h2 class="govuk-heading-m">How this date has been worked out</h2>

      <p>
        The date your caution becomes spent is based on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the information you’ve provided</li>
        <li>the current law on when cautions and convictions expire</li>
      </ul>

      <p>
        This table shows the information you provided, which was used to work out the spent date. If you entered any incorrect information, the spent date will be incorrect.
      </p>

      <table class="govuk-table">
        <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
        <!-- <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Amount</th>
          </tr>
        </thead> -->
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Criminal record type</th>
            <td class="govuk-table__cell">{{ data['cautioned-or-convicted'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Type of caution</th>
            <td class="govuk-table__cell">{{ data['simple-or-conditional-caution'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Age at time of caution</th>
            <td class="govuk-table__cell">{{ data['age-at-caution'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Date caution was given</th>
            <td class="govuk-table__cell">{{ data['formatted-caution-date'] }}</td>
          </tr>
        </tbody>
      </table>

      <p>
        If you need to change any information, or if you have another caution or conviction you’d like to check, <a href="../../../v1">use the service again</a>.
      </p>

      <!-- <p><a href="javascript:window.print()">Print this page</a></p> -->

    </div>
</div>

{% endblock %}

<script type="text/javascript">

  // var monthNo = req.session.data['first-name']
  //
  // var month_name = function(monthNo){
  // mlist = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  //   return mlist[dt.getMonth()];
  // };
  window.onload = console.log("Hello");

</script>
