
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your caution expired on the day the conditions ended
          </h1>
          <div class="govuk-panel__body">
            You do not need to tell anyone about this caution unless you're <a href="https://www.gov.uk/exoffenders-and-employment?#when-employers-still-need-to-know-about-your-conviction" target="_blank"">applying for a job that needs a full criminal record check</a>.
          </div>
      </div>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <br/>

      <h2 class="govuk-heading-s">About the expiry date</h2>

      <p>
        The expiry date of your caution is based on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what you told us about your caution</li>
        <li>the current law on when cautions expire</li>
      </ul>

      <p>
        This table shows you what you told us. If any of this information is wrong, the expiry date we've given you might also be wrong.
      </p>

      <table class="govuk-table">
        <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
        <!-- <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Amount</th>
          </tr>
        </thead> -->
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Criminal record type</th>
            <td class="govuk-table__cell">{{ data['cautioned-or-convicted'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Type of caution</th>
            <td class="govuk-table__cell">{{ data['simple-or-conditional-caution'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Age at time of caution</th>
            <td class="govuk-table__cell">{{ data['age-at-caution'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Date caution given</th>
            <td class="govuk-table__cell">Not known</td>
          </tr>

          {% if data['conditions-met'] %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Conditions stuck to</th>
            <td class="govuk-table__cell">{{ data['conditions-met'] }}</td>
          </tr>
          {% endif %}


        </tbody>
      </table>

      <p>
        If you need to change any information, or if you have another caution or conviction you’d like to check, <a href="../../../v1">use the service again</a>.
      </p>

      <p><a href="javascript:window.print()">Print this page</a></p>

    </div>
</div>

{% endblock %}
