
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="exit/conviction-with-date" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How long was the order?
            </h1>
          </legend>

          <p>
            Enter the whole length of the order you were given in court, even if you were released:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>early</li>
            <li>on temporary license</li>
            <li>on parole</li>
            <li>under supervision</li>
          </ul>

          <br/>

          <label class="govuk-label govuk-!-font-weight-bold" for="conviction-weeks-number">
            Number of
            <span>
              {% if data['conviction-measure'] == "weeks" %}
                weeks
              {% elif data['conviction-measure'] == "months" %}
                months
              {% else %}
                years
              {% endif %}
            </span>
          </label>
          <input class="govuk-input govuk-input--width-3 conviction-length-input" id="conviction-weeks-number" name="conviction-weeks-number" type="number" pattern="[0-9]*">
          <!-- <span style="padding-left:5px;" class="govuk-body">weeks</span>
          <span style="padding-left:10px; color:red">{or months or years depending on previous answer}</span> -->

        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
