
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="exit/conviction-with-date" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What was the length of the conviction?
              </h1>
            </legend>

            <label class="govuk-label" for="conviction-weeks-number">
              Length of conviction
            </label>
            <input class="govuk-input govuk-input--width-3 conviction-length-input" id="conviction-weeks-number" name="conviction-weeks-number" type="number" pattern="[0-9]*">
            <span style="padding-left:5px;" class="govuk-body">
              {% if data['conviction-measure'] == "weeks" %}
                weeks
              {% elif data['conviction-measure'] == "months" %}
                months
              {% else %}
                years
              {% endif %}
            </span>

          </fieldset>
        </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
