
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="date" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What was your custodial sentence?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="detention-and-training-order" name="conviction-name" type="radio" value="Detention and training order (DTO)">
              <label class="govuk-label govuk-radios__label" for="detention-and-training-order">
                Detention and training order
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="long-term-detention" name="conviction-name" type="radio" value="Detention (4 years or over)">
              <label class="govuk-label govuk-radios__label" for="long-term-detention">
                Detention
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prison-sentence" name="conviction-name" type="radio" value="Prison sentence">
              <label class="govuk-label govuk-radios__label" for="prison-sentence">
                Prison sentence
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="suspended-prison-sentence" name="conviction-name" type="radio" value="Suspended prison sentence">
              <label class="govuk-label govuk-radios__label" for="suspended-prison-sentence">
                Suspended prison sentence
              </label>
            </div> -->

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
