
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="age" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What were you ordered to pay?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fine" name="conviction-name" type="radio" value="Fine">
              <label class="govuk-label govuk-radios__label" for="fine">
                A fine
                <!-- <span class="govuk-hint">
                </span> -->
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="compensation" name="conviction-name" type="radio" value="Compensation to a victim">
              <label class="govuk-label govuk-radios__label" for="compensation">
                Compensation to a victim
                <!-- <span class="govuk-hint">
                </span> -->
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
