
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="age" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What was your motoring conviction?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="disqualification" name="conviction-name" type="radio" value="Disqualification">
              <label class="govuk-label govuk-radios__label" for="disqualification">
                Disqualification
                <!-- <span class="govuk-hint">
                </span> -->
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="endorsement" name="conviction-name" type="radio" value="Endorsement">
              <label class="govuk-label govuk-radios__label" for="endorsement">
                Endorsement
                <!-- <span class="govuk-hint">
                </span> -->
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="penalty-points" name="conviction-name" type="radio" value="Penalty points">
              <label class="govuk-label govuk-radios__label" for="penalty-points">
                Penalty points
                <!-- <span class="govuk-hint">
                </span> -->
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
