
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check when a caution or conviction is spent
      </h1>

      <p>
        Use this service to check when cautions or convictions become spent in England and Wales.
      </p>

      <h2 class="govuk-heading-m">
        How this service works
      </h2>

      <p>
        You’ll need to know:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>which types of caution or conviction you’ve been given</li>
        <li>the dates you were sentenced</li>
        <li>how long any sentences lasted</li>
      </ul>

      <p>
        The service will give you guidance on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when each of your cautions or convictions become spent</li>
        <li>when to tell people, such as employers, about your criminal record</li>
      </ul>

      <p>
        You can use the service to check convictions that include more than one sentence – for example, a single motoring conviction that includes a fine, penalty points and an endorsement.
      </p>

      <p>
        If you do not have all the information you need to use the service, you can read general information on <a href="https://www.gov.uk/guidance/telling-people-about-your-criminal-record#expire">guidance on when cautions and convictions become spent</a>.
      </p>

      <div class="govuk-inset-text">
        You cannot use this service if you were released on bail during a conviction.
      </div>

      <a href="placeholder-first-journey" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

    </div>
</div>

{% endblock %}
