
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="placeholder-first-journey" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">

              <span class="govuk-caption-l custom-caption">Conviction 1</span>

              What type of custodial sentence were you given?
            </h1>
          </legend>
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prison-sentence" name="conviction-name" type="radio" value="Prison sentence">
              <label class="govuk-label govuk-radios__label" for="prison-sentence">
                Prison sentence
                <span class="govuk-hint">
                  [Placeholder text]
                </span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="suspended-prison-sentence" name="conviction-name" type="radio" value="Suspended prison sentence">
              <label class="govuk-label govuk-radios__label" for="suspended-prison-sentence">
                Suspended prison sentence
                <span class="govuk-hint">
                  [Placeholder text]
                </span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-order" name="conviction-name" type="radio" value="Hospital order">
              <label class="govuk-label govuk-radios__label" for="hospital-order">
                Hospital order
                <span class="govuk-hint">
                  You were given a hospital order instead of a prison sentence because of mental health concerns
                </span>
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
