
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="conditions-end" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Did you stick to the conditions of the caution?
            </h1>
          </legend>

          <!-- <span id="changed-name-hint" class="govuk-hint">
            This is the date the caution was given, not the date you committed the offence.
          </span> -->

          <div class="govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="conditions-met-yes" name="conditions-met" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="conditions-met-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="conditions-met-no" name="conditions-met" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="conditions-met-no">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
