
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="type" method="post" class="form">

        <!-- <div class="moj-identity-bar">
          <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
              <span class="moj-identity-bar__title"><b>Caution or conviction 1</b></span>
            </div>
          </div>
        </div> -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {% if data['single-or-multiple'] == "Multiple" %}
              <span class="govuk-caption-l">Caution or conviction 1</span>
              {% endif %}
              Was this a caution or a conviction?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cautioned" name="cautioned-or-convicted" type="radio" value="Caution">
              <label class="govuk-label govuk-radios__label" for="cautioned">
                Caution
                <span class="govuk-hint">
                  You were given an official warning by the police
                </span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="convicted" name="cautioned-or-convicted" type="radio" value="Conviction">
              <label class="govuk-label govuk-radios__label" for="convicted">
                Conviction
                <span class="govuk-hint">
                  You were found guilty of a crime in court
                </span>
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
