
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check when a caution or conviction expires
      </h1>

      <p>
        Use this service to check if you need to tell people (such as employers or colleges) about a caution or conviction.
      </p>

      <p>
        Most cautions and convictions expire (become 'spent') after a certain length of time.
      </p>
      <p> You do not normally need to tell anyone about them after they expire, but <a href="https://ex-offenders.glitch.me/guidance-v2.html#background-checks" target="_blank">some jobs</a> need a full criminal background check.
      </p>

      <div class="govuk-inset-text">
        You will not be asked for any personal information (such as your name or address) when using the service.
      </div>

      <a href="v3/cautioned-or-convicted" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start now
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>
        To use this service you need to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>live in England or Wales</li>
        <li>know the type of caution or conviction you were given</li>
        <li>know the date you were cautioned or convicted</li>
      </ul>

      <p>
        If you don’t have this information you can read the <a href="https://ex-offenders.glitch.me/guidance-v2.html" target="_blank">guidance on when cautions and convictions become spent</a>.
      </p>

      <p>
        If you have more than one caution or conviction on your criminal record, you’ll need to work out the expiry date of each one separately.
      </p>

    </div>
</div>

{% endblock %}
