
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Terms, conditions and privacy
      </h1>
      <p>
        The check when a caution or conviction expires service is provided by the Ministry of Justice (MoJ).
      </p>

      <p>
        Its purpose is to help users work out whether or not they need to tell organisations (such as employers, places of education or insurance companies) about a caution or conviction on their criminal record.
      </p>
      <p>
        The service tells users when a single caution or conviction expires (becomes ‘spent’) according to the current law in England and Wales.
      </p>

      <h2 class="govuk-heading-l">
        What the service does
      </h2>

      <p>
        The service asks users for:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the type of conviction they were given</li>
        <li>the date they were convicted</li>
        <li>their age when convicted</li>
      </ul>

      <p>
        This information is checked against the current law and users are given the date the conviction expires.
      </p>

      <p>
        Some organisations will still need to know about cautions and convictions that have expired, depending on the application that’s being made.
      </p>

      <h2 class="govuk-heading-l">
        Our responsibilities
      </h2>

      <p>
        The expiry date given at the end of the service is based solely on the information provided by the service user.
      </p>

      <p>
        If any of the information a user inputs is incorrect, the date given at the end might also be incorrect.
      </p>

      <p>
        MoJ is not responsible for:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>people disclosing their expired cautions or convictions when they weren’t required to</li>
        <li>how and when employers ask for information about people’s criminal records</li>
      </ul>

      <h2 class="govuk-heading-l">Privacy</h2>

      <p>
        This service is completely anonymous to use. Users are not asked for any personal information that could be used to identify them (such as their name, address or prisoner number).
      </p>

      <p>
        If you have more than one caution or conviction on your criminal record, you’ll need to work out the expiry date of each one separately.
      </p>

    </div>
</div>

{% endblock %}
