
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="community" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What type of caution did you get?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="simple-caution" name="simple-or-conditional-caution" type="radio" value="Simple">
              <label class="govuk-label govuk-radios__label" for="simple-caution">
                Simple caution
                <span class="govuk-hint">
                  You did not have to agree to any conditions
                </span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="conditional-caution" name="simple-or-conditional-caution" type="radio" value="Conditional">
              <label class="govuk-label govuk-radios__label" for="conditional-caution">
                Conditional caution
                <span class="govuk-hint">
                  You agreed to certain conditions, such as paying a fine or learning about the effects of drugs
                </span>
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
