
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="date" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What type of sentence were you given?
            </h1>
          </legend>
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="detention-and-training-order" name="conviction-name" type="radio" value="Detention and training order (DTO)">
              <label class="govuk-label govuk-radios__label" for="detention-and-training-order">
                Detention and training order (DTO)
                <span class="govuk-hint">
                  The first half of your sentence was spent in custody and the second half was spent in the community, supervised by the Youth Offending Team
                </span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="long-term-detention" name="conviction-name" type="radio" value="Detention">
              <label class="govuk-label govuk-radios__label" for="long-term-detention">
                Detention
                <span class="govuk-hint">
                  You were sentenced to custody in a young offender institution or secure training centre
                </span>
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-order" name="conviction-name" type="radio" value="Hospital order">
              <label class="govuk-label govuk-radios__label" for="hospital-order">
                Hospital order
                <span class="govuk-hint">
                  You were given a hospital order instead of a prison sentence because of mental health concerns
                </span>
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prison-sentence" name="conviction-name" type="radio" value="Prison sentence">
              <label class="govuk-label govuk-radios__label" for="prison-sentence">
                Prison sentence
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="suspended-prison-sentence" name="conviction-name" type="radio" value="Suspended prison sentence">
              <label class="govuk-label govuk-radios__label" for="suspended-prison-sentence">
                Suspended prison sentence
              </label>
            </div> -->

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
