
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="date" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What discharge were you given?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="absolute-discharge" name="conviction-name" type="radio" value="Absolute discharge">
              <label class="govuk-label govuk-radios__label" for="absolute-discharge">
                Absolute discharge
                <span class="govuk-hint">
                  You were found guilty of a crime but did not get sentenced
                </span>
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="bind-over" name="conviction-name" type="radio" value="Bind over">
              <label class="govuk-label govuk-radios__label" for="bind-over">
                Bind over
                <span class="govuk-hint">
                  Your sentence was postponed as long as you stuck to certain conditions
                </span>
              </label>
            </div> -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="conditional-discharge" name="conviction-name" type="radio" value="Conditional discharge">
              <label class="govuk-label govuk-radios__label" for="conditional-discharge">
                Conditional discharge
                <span class="govuk-hint">
                  You were not sentenced, as long as you didn't commit another crime
                </span>
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
