
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sorry, we cannot tell you when your caution expires
      </h1>
      <p>
        You've said that you broke the conditions of your caution. This usually leads to further action being taken by the police, such as prosecution for the original offence.
      </p>

      <p>
        Because we don't know what further action was taken, we cannot tell you when your caution expires.
      </p>

      <h1 class="govuk-heading-s">
        If you were convicted
      </h1>

      <p>
        If you were convicted after breaking the conditions of your caution, you can <a href="../../../v1">use the service again</a> and select conviction instead of caution.
      </p>

    </div>
</div>

{% endblock %}
