{% extends "layout.html" %}
{% block pageTitle %}
  Check when to disclose cautions or convictions
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag ">beta</strong>
      <span class="govuk-phase-banner__text">
        This is a new service, <a href="/about/contact" class="govuk-link govuk-link--no-visited-state">your feedback</a> will help us improve.
      </span>
    </p>
  </div>
  {{ govukBackLink({
    text: "Back",
    href: "/prototype-2/custody-order/prison-sentence/prison-sentence-date"
  }) }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form class="edit_steps_conviction_conviction_length_form" id="new_steps_conviction_conviction_length_form" action="/prototype-2/custody-order/prison-sentence/prison-sentence-answers" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="authenticity_token" value="8FIm/jVm+Sk28SqBDuZJa7wR9LnwvMxQwzmTwFRkcNNnddW74i3n3pQnGYhaAqAMWzSinsj58AglKfq3FoRTTA==">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl">Prison sentence</span>
            What was the length of the sentence?</h1>
        </legend>
        <div class="govuk-hint">
          If you were given more than one sentence to serve one after the other (consectutively) enter the total length of time.
          <br>
          <br>
           For example, if you were given a 5 month and a 3 month sentence to serve consecutively, enter 8 months.
        </div>
        <div class="govuk-form-group">
          <label for="steps-conviction-conviction-length-form-conviction-length-field" class="govuk-label">Number of weeks</label>
          <input id="steps-conviction-conviction-length-form-conviction-length-field" class="govuk-input govuk-input--width-3" pattern="[0-9]*" inputmode="numeric" type="text" name="ban-length-extra">
        </div>
      </fieldset>
      <input type="submit" name="commit" value="Continue" class="govuk-button" formnovalidate="formnovalidate" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Continue">
    </form>
    
    
  </div>
</div>
{% endblock %}
