
{% extends "layout-alpha.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="lifetime-ban" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-l">{{ data['conviction-name'] }}</span>
            <h1 class="govuk-fieldset__heading">
              Did the disqualification last for a specific length of time?
            </h1>
          </legend>

          <span id="changed-name-hint" class="govuk-hint">
            For example, you were banned from driving for 12 months.
          </span>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specific-disqual-y" name="specific-disqual-y-n" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="specific-disqual-y">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specific-disqual-n" name="specific-disqual-y-n" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="specific-disqual-n">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button class="govuk-button">Continue</button>

      </form>

    </div>
</div>

{% endblock %}
