
{% extends "layout.html" %}

{% set serviceName %}
  Disclosure Checker prototype
{% endset%}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-colum-two-thirds">
      <h1 class="govuk-heading-xl">
        Disclosure Checker Prototype
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-s">Notes on using the prototype</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>To be used mainly for demonstrating selected journeys and giving screen examples to dev</li>
          <li>See <a href="https://disclosure-checker-staging.apps.live-1.cloud-platform.service.justice.gov.uk/">staging</a> for accurate calculations and routing</li>
          <li>See <a href="https://dsdmoj.atlassian.net/wiki/spaces/CJDT/pages/1390018589/Disclosure+Checker">Confluence</a> for design documentation</li>
        </ul>
      </div>
      
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Prototype for testing</span>
          <span class="govuk-tag wip-tag">Design work in progress</span>
        </summary>

        <div class="govuk-inset-text">
          <ul class="govuk-list govuk-list--bullet">
             <li><a href="Prototype-2/start-page">Start page</a></li>
             <li><a href="Prototype-1/add-another-sentence">Add another sentence to a conviction</a></li>
             <li><a href="Prototype-1/add-a-conviction-or-caution">Add another caution or conviction</a></li>
             <li><a href="prototype-2/results-page">Results page</a></li>
           </ul>
        </div>
       </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Multiple convictions</span>
          <span class="govuk-tag wip-tag">Design work in progress</span>
        </summary>

        <div class="govuk-inset-text">

          <h3 class="gov-heading-s">Version 2 (latest): Ideas for multiples</h3>
          <p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="multiple-journey/multiple-3/full/">Conviction journey example</a></li>
              <!-- <li><a href="multiple-journey/multiple-3/full/">Separate proceedings only</a></li> -->
            </ul>
          </p>

          <h3 class="gov-heading-s">Version 1</h3>
          <p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="multiple-journey/multiple/mvp/">Separate proceedings only</a></li>
              <li><a href="multiple-journey/multiple/full/">Full multiples feature (separate + same proceedings)</a></li>
            </ul>
          </p>


          <!-- <h3 class="govuk-heading-s">Screens</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="multiple/add-another">"Add another?"</a></li>
            <li><a href="multiple/conviction-with-date">"Result page"</a></li>
          </ul> -->

        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Motoring convictions options</span>
          <span class="govuk-tag wip-tag">Design work in progress</span>
        </summary>

        <div class="govuk-inset-text">

          <ul class="govuk-list govuk-list--bullet">
            <!-- <li><a href="motoring/mvp/type">1. minimum interaction</a></li>
            <li><a href="motoring/v2/type">2. "disqualification with ...", "disqualification without ..." etc.</a></li> -->
            <!-- <li><a href="motoring/v3/type">1. additional question: were you also given an endorsement?</a></li> -->
            <li><a href="motoring/v5/type">1. With end date question</a></li>
            <li><a href="motoring/checkbox/motoring">3. checkbox example</a></li>
            <!-- <li><a href="motoring/checkbox/motoring">4. additional 'specific length' question</a></li> -->
          </ul>

        </div>
      </details>

      <h2 class="govuk-heading-m">
        <a href="v4">Version 4: MVP + adult journey</a>
        <span class="govuk-tag wip-tag">Design work in progress</span>
      </h2>

      <h2 class="govuk-heading-m version-container">
        <a href="v3">Version 3: MVP</a>
        <!-- <span class="govuk-tag for-dev-tag">For development</span> -->
      </h2>

      <!-- <h3 class="govuk-heading-s">Key changes:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul> -->

      <!-- <h3 class="govuk-heading-s">Key findings:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul> -->

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Version 2</span>
        </summary>

        <div class="govuk-inset-text">

        <h2 class="govuk-heading-s"><a href="v2">View version 2</a></h2>
        <h3 class="govuk-heading-s">Key changes:</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>Changed service title to "Check if you need to declare your criminal record"</li>
          <li>Changed "When did your conviction end?" question to "What was the length of the conviction?"</li>
          <li>Brought conviction/caution type to beginning of the flow</li>
          <li>Content changes to simplify language</li>
        </ul>

        <!-- <h3 class="govuk-heading-s">To be tested:</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
          <li></li>
        </ul> -->

        <!-- <h3 class="govuk-heading-s">Key findings:</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
          <li></li>
        </ul> -->
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Version 1</span>
        </summary>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-s"><a href="#">View version 1</a></h2>
        </div>

      </details>

    </div>
</div>

{% endblock %}
