
{% extends "layout.html" %}

{% set serviceName %}
  Disclosure Checker prototype
{% endset%}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-colum-full">
      <h1 class="govuk-heading-xl">
        Disclosure Checker Prototype
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>

      <h2 class="govuk-heading-m"><a href="v3">Version 3 (latest)</a></h2>

      <h3 class="govuk-heading-s">Key changes:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <!-- <h3 class="govuk-heading-s">To be tested:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul> -->

      <h3 class="govuk-heading-s">Key findings:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Version 2</span>
        </summary>

        <div class="govuk-inset-text">

        <h2 class="govuk-heading-s"><a href="v2">View version 2</a></h2>
        <h3 class="govuk-heading-s">Key changes:</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>Changed service title to "Check if you need to declare your criminal record"</li>
          <li>Changed "When did your conviction end?" question to "What was the length of the conviction?"</li>
          <li>Brought conviction/caution type to beginning of the flow</li>
          <li>Content changes to simplify language</li>
        </ul>

        <!-- <h3 class="govuk-heading-s">To be tested:</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
          <li></li>
        </ul> -->

        <h3 class="govuk-heading-s">Key findings:</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Version 1</span>
        </summary>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-s"><a href="#">View version 1</a></h2>
        </div>

      </details>

    </div>
</div>

{% endblock %}
