
{% extends "layout.html" %}

{% set serviceName %}
  Disclosure Checker prototype
{% endset%}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-colum-full">
      <h1 class="govuk-heading-xl">
        Disclosure Checker Prototype
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>

      <h2 class="govuk-heading-m"><a href="v1">Version 1</a></h2>

      <h3 class="govuk-heading-s">Key changes:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <h3 class="govuk-heading-s">To be tested:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <h3 class="govuk-heading-s">Key findings:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>
</div>

{% endblock %}
